@model LabaManage.WebMVC.ViewModels.Task.TaskViewModel
@using LabaManage.WebMVC.HtmlHelpers

<div class="well">
    <div class="btn-group pull-right">
        @using (Html.BeginForm("Delete", "TaskManage"))
        {
            @Html.ActionLink("Изменить", "Edit", new { Model.Task.TaskId }, new { @class = "btn btn-primary hidden-xs" })
            @Html.ActionLink(" ", "Edit", new { Model.Task.TaskId }, new { @class = "btn btn-primary glyphicon glyphicon-edit visible-xs" })
            @Html.Hidden("TaskId", Model.Task.TaskId)
            <input type="submit"
                   class="btn btn-danger hidden-xs"
                   value="Удалить" />
            <button type="submit" formmethod="post" class="btn btn-danger glyphicon glyphicon-remove visible-xs"></button>
        }
    </div>
    <h4>Тема: @Model.Task.Topic уровень: @Model.Task.Level автор: @Model.Task.Author</h4>
    <h4>@Model.Task.Name</h4>
    <div class="well" id="@string.Format($"textwellp{Model.Task.TaskId}")" style="display:block">
        <div class="hidden-xs" style="float: right;">
            @for (int i = 5; i >= 1; i--)
            {
                <div style="display:inherit">
                    <div style="display:inline-flex;">
                        <ul class="rating" style="display:inherit">
                            @Html.Stars(i);
                        </ul>
                        <span style="display:inherit">@string.Format($" - {Model.PercentFeature[i - 1]}%")</span>
                    </div>
                </div>
            }
        </div>
        <div>
            <ul class="rating">
                @Html.Stars(Model.AvgRating);
            </ul>
        </div>

        <p>@Model.AvgRating</p>
        <span>@Model.Task.Text.Substring(0, 10)</span> 
        <button id="@string.Format($"f{Model.Task.TaskId}")" class="btn btn-default btn-sm hidden-xs">...</button>
        <button id="@string.Format($"f{Model.Task.TaskId}")" class="btn btn-default glyphicon glyphicon-arrow-down visible-xs"></button>
        <br />
        <br />
        @foreach (var tag in Model.Task.Tags)
        {
            <button id="@string.Format($"t{tag.TagId}")" class="btn btn-info btn-sm hidden-xs" name="@tag.Name">@tag.Name</button>
        }
    </div>
    <div class="well" id="@string.Format($"textwellf{Model.Task.TaskId}")" style="display:none">
        <div>
            <button id="@string.Format($"p{Model.Task.TaskId}")" class="btn btn-default hidden-xs" style="float: right; vertical-align:top">Свернуть</button>
            <button id="@string.Format($"p{Model.Task.TaskId}")" class="btn btn-default glyphicon glyphicon-arrow-up visible-xs" style="float: right; vertical-align:top"></button>
        </div>
        <br />
        <div>@Model.Task.Text</div>
        <br />
        @foreach (var tag in Model.Task.Tags)
        {
            <button id="@string.Format($"t{tag.TagId}")" class="btn btn-info btn-sm hidden-xs" name="@tag.Name">@tag.Name</button>
        }
        <br />
        <div id="@string.Format($"coment{Model.Task.TaskId}")"></div>
    </div> 
</div>