@model LabaManage.WebMVC.ViewModels.Task.ListViewModel
@using LabaManage.WebMVC.HtmlHelpers
@{
    ViewBag.Title = "Список заданий";
}
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
     <h3> Список заданий </h3>
        <div>
            <div class="form-group">
                <input type="text" class="form-control" id="tokenfield" value="@Model.Filter.Tags" />
            </div>
        </div>
    </div>
        <div class="btn-group pull-right">
            @Html.ActionLink("Добавить задание", "Create", "TaskManage", new { area = "" }, new { @class = "btn btn-primary hidden-xs" })
            @Html.ActionLink("Загрузить задания", "Index", "TaskLoad", new { area = "" }, new { @class = "btn btn-primary hidden-xs" })
            @Html.ActionLink("Скачать задания", "DownloadFile", "TaskLoad", new { area = "" }, new { @class = "btn btn-primary hidden-xs" })
            @Html.ActionLink(" ", "Create", "TaskManage", new { area = "" }, new { @class = "btn btn-primary glyphicon glyphicon-plus visible-xs" })
            @Html.ActionLink(" ", "Index", "TaskLoad", new { area = "" }, new { @class = "btn btn-primary glyphicon glyphicon-upload visible-xs" })
            @Html.ActionLink(" ", "DownloadFile", "TaskLoad", new { area = "" }, new { @class = "btn btn-primary glyphicon glyphicon-download visible-xs" })
        </div>
        <div class="panel-body">
            <div style="display:inline-flex">
                <span class="hidden-xs">Автор:</span>
                <span class="visible-xs glyphicon glyphicon-user"></span>
                @Html.DropDownListFor(_ => _.Filter.Author, new SelectList(Model.Lists.Authors.ToList(), "all"), "all", new { @class = "dropdown" })
                <span class="hidden-xs">Тема:</span>
                <span class="visible-xs glyphicon glyphicon-bookmark"></span>
                @Html.DropDownListFor(_ => _.Filter.Topic, new SelectList(Model.Lists.Topics.ToList(), "all"), "all", new { @class = "dropdown" })
                <span class="hidden-xs">Уровень сложности:</span>
                <span class="visible-xs glyphicon glyphicon-scale"></span>
                @Html.DropDownListFor(_ => _.Filter.Level, new SelectList(Model.Lists.Levels.ToList(), "all"), "all", new { @class = "dropdown" })
            </div>
            <div id="TasksList"
                 data-request-tasks-url="@Url.Action("GetTasksDataJson")?"
                 data-request-comments-url="@Url.Action("GetTaskComentsJson")?taskId="
                 data-request-taskdelete-url="@Url.Action("Delete", "TaskManage")"
                 data-request-taskedit-url="@Url.Action("Edit", "TaskManage")?TaskId="
                 data-request-commentdelete-url="@Url.Action("DeleteComment","TaskManage")"
                 data-request-commentsave-url="@Url.Action("SaveComment","TaskManage")"
                 data-request-tags-url="@Url.Action("GetTagsDataJson", "TaskManage")">
                @foreach (var p in @Model.Tasks)
            {
                    @Html.Partial("TaskSummary", p);
            }
            </div>
        </div>
        <div id="ButtonsGroup" class="btn-group pull-right">
            @Html.PageLinks(Model.PagingInfo, _ => Url.Action("List", new { page = _, filter = Model.Filter }))
        </div>
    </div>

@section scripts{
    @Scripts.Render("~/bundles/taskrating")
}




